@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{  
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  place-content: center;
}